.main {
  margin: 2rem auto;
  padding: 1rem;
  width: 90%;
  max-width: 40rem;
}

.main label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.main input {
  font: inherit;
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  padding: 0.15rem;
  margin-bottom: 0.5rem;
}

.main input:focus {
  outline: none;
  border-color: #be2cdb;
}
.main button {
  margin-top: 15px;
  margin-left: 350px;
}
